{% extends 'header.html' %}

{% block content%}

  <div style="text-align: right;">
    <table style="width: 100%; margin-left: auto; margin-right: auto; text-align: center; height: 800px; background-image: url(static/images/fondo.png); background-repeat: no-repeat; background-size: 100% 100%;">
      <tbody>
        <tr style="height: 50px;">
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td style="width: 6%;"></td>
          <td style="height: 20px;">
            <a href="augustobarrera/" target="_blank">
              <img src="{{ url_for('static', filename='images/Barrera.png')}}" style="width: 180px;">
            </a>
            <p style="font-weight: bold; font-size: 20px;">Augusto Barrera</p>
            <p style="font-size: 20px;">31/07/2009 - 14/05/2014</p>

            <div style="text-align: left;">
              <div class="">
                <img src="{{ url_for('static', filename='images/twitter.png')}}" style="width: 40px;">
                <span style="font-size: 25px;"> {{c1b}}</span><hr style="color: #00abf4;">
              </div>

              <div class="">
                <img src="{{ url_for('static', filename='images/smile.png')}}" style="width: 40px;">
                <span style="font-size: 25px;"> {{num_P_percent_str}}</span><p></p>
              </div>

              <div class="">
                <img src="{{ url_for('static', filename='images/sad-face.png')}}" style="width: 40px;">
                <span style="font-size: 25px;"> {{num_N_percent_str}}</span>
              </div>

            </div>
          </td><td style="width: 6%;"></td>

          <td style="height: 20px;">
            <a href="mauriciorodas/" target="_blank">
            <img src="{{ url_for('static', filename='images/Rodas.png')}}" style="width: 180px;">
            </a>
            <p style="font-weight: bold; font-size: 20px;">Mauricio Rodas</p>
            <p style="font-size: 20px;">14/05/2014 - 14/05/2019</p>

            <div style="text-align: left;">
              <img src="{{ url_for('static', filename='images/twitter.png')}}" style="width: 40px;">
              <span style="font-size: 25px;"> {{c2b}}</span><hr style="color: #00abf4;">
              <img src="{{ url_for('static', filename='images/smile.png')}}" style="width: 40px;">
              <span style="font-size: 25px;"> {{num_P_percent_str2}}</span><p></p>
              <img src="{{ url_for('static', filename='images/sad-face.png')}}" style="width: 40px;">
              <span style="font-size: 25px;"> {{num_N_percent_str2}}</span>
            </div>
          </td><td style="width: 7%;"></td>

          <td style="height: 20px;">
              <a href="jorgeyunda/" target="_blank">
            <img src="{{ url_for('static', filename='images/Yunda.png')}}" style="width: 180px;">
            </a>
            <p style="font-weight: bold; font-size: 20px;">Jorge Yunda</p>
            <p style="font-size: 20px;">14/05/2019 - 29/09/2021</p>
            <div style="text-align: left;">
              <img src="{{ url_for('static', filename='images/twitter.png')}}" style="width: 40px;">
              <span style="font-size: 25px;"> {{c3b}}</span><hr style="color: #00abf4;">
              <img src="{{ url_for('static', filename='images/smile.png')}}" style="width: 40px;">
              <span style="font-size: 25px;"> {{num_P_percent_str3}}</span><p></p>
              <img src="{{ url_for('static', filename='images/sad-face.png')}}" style="width: 40px;">
              <span style="font-size: 25px;"> {{num_N_percent_str3}}</span>
            </div>
          </td><td style="width: 7%;"></td>

          <td style="height: 20px;">
            <a href="santiagoguarderas/" target="_blank">
            <img src="{{ url_for('static', filename='images/Guarderas.png')}}" style="width: 180px;">
            </a>
            <p style="font-weight: bold; font-size: 20px;">Santiago Guarderas</p>
            <p style="font-size: 20px;">30/09/2021 - 15/01/2023</p>
            <div style="text-align: left;">
              <img src="{{ url_for('static', filename='images/twitter.png')}}" style="width: 40px;">
              <span style="font-size: 25px;"> {{c4b}}</span><hr style="color: #00abf4;">
              <img src="{{ url_for('static', filename='images/smile.png')}}" style="width: 40px;">
              <span style="font-size: 25px;"> {{num_P_percent_str4}}</span><p></p>
              <img src="{{ url_for('static', filename='images/sad-face.png')}}" style="width: 40px;">
              <span style="font-size: 25px;"> {{num_N_percent_str4}}</span>
            </div>
          </td>

          <td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table>
        </div>

{%endblock%}
